 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     overflow-x: hidden;
 }

 .hero-section {
     position: relative;
     height: 85vh;
     background-image: url("../Images/matrix-style-binary-code-digital-falling-numbers-blue-background_1017-37387.avif");
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 1;


 }

 .hero-section::before {
     content: '';
     background: rgba(0, 0, 0, 0.4);
     position: absolute;
     inset: 0;
     z-index: 0;
 }

 .hero-section>div {
     position: relative;
     z-index: 1;
     /* Bring content above overlay */
 }