 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     overflow-x: hidden;
 }

 .nav-link:hover{
    color:  #ffc107 !important;
    
    transition: 0.3s;
 }

 .hero-section {
     position: relative;
     height: 85vh;
     background-image: url("../Images/matrix-style-binary-code-digital-falling-numbers-blue-background_1017-37387.avif");
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 1;


 }
/* learn this  */
 .hero-section::before {
     content: '';
     background: rgba(0, 0, 0, 0.4);
     position: absolute;
     inset: 0;
     z-index: 0;
 }

 .hero-section>div {
     position: relative;
     z-index: 1;
     /* Bring content above overlay */
 }

 /* carousel */

 .carousel-item img{
    height: 400px;
    object-fit: cover;
    
 }

 .carousel-Size{
    max-height: 400px;
    max-width: 700px;
 }